.hide-overflow-ellipsis {
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}

.nav li.dropdown-submenu.active > a
{
    color: #000;
    background-color: #f5f5f5;
}

input[type="date"], .width-160 {
    width: 160px !important;
}

input[type="number"] {
    width: 70px !important;
}

.margin-bottom-1em {
    margin-bottom: 1em ;
}

.tree-menu ul { list-style: none; }

.tree-menu > ul { padding: 0; }

.tree-menu a {
  display: block;
  vertical-align: middle;
  text-decoration: none;
  padding: 10px 15px;
  background-color: #fff;
  border-radius: 4px;
  margin-bottom: 2px;
  border: 1px solid #efefef;
  color: #000;
}

.tree-menu a:hover {
  color: #555;
}

.tree-menu .active > a:hover,
.tree-menu .selected > a,
.tree-menu a:hover { background-color: #f5f5f5; }

.tree-menu .selected > a {
  color: #555;
  font-weight: bold;
  text-decoration: none;
}

.tree-menu .active > a { background-color: #f5f5f5; }

.tree-menu .expand-button { width: 50px; display: inline-block;}
