<div class="container">
    <h1 class="page-header">Courses</h1>
    <div class="well">Note, learning opportunity specification identifiers are cached when runnig the <a href="#/course-replication">course replication</a>
    and is shown in the cached tab.</div>
    <div class="panel panel-body">
        <form class="form-horizontal" ng-submit="sendCoursesRequest()">
            <div class="form-group">
                <label class="control-label" for="hei">Method:</label>
                <select id="hei" class="form-control" ng-model="coursesRequest.method" required="required">
                    <option value="GET">GET</option>
                    <option value="POST">POST</option>
                    <option value="PUT">PUT</option>
                </select>
            </div>
            
            <div class="checkbox">
                <label>
                    <input id="httpsec" type="checkbox" ng-model="coursesRequest.httpsec">
                    Use HTTP sec
                </label>
            </div>

            <div class="form-group">
                <label class="control-label" for="hei">EWP URL:</label>
                <select id="url" class="form-control" ng-model="coursesRequest.url" required="required" ng-change="urlChanged()">
                    <option style="display:none" value="">select an EWP URL</option>
                    <option ng-repeat="url in urls | orderBy: 'toString()'" value="{{url}}">{{url}}</option>
                </select>
            </div>

            <div class="form-group">
                <label class="control-label" for="hei">Institution:</label>
                <select id="hei" class="form-control" ng-model="coursesRequest.heiId" required="required" ng-change="institutionChanged()">
                    <option style="display:none" value="">Select institutions</option>
                    <option ng-repeat="hei in urlHeis | orderBy: 'name'" value="{{hei.id}}">{{hei.name}}</option>
                </select>
            </div>

            <ul class="nav nav-tabs">
                <li ng-class="{'active':!cachedIds}"><a ng-click="cachedIds=false">Manually</a></li>
                <li ng-class="{'active':cachedIds}"><a ng-click="cachedIds=true">Cached</a></li>
            </ul>
            <div class="panel-body">
                <div class="tab-content clearfix" ng-show="!cachedIds">
                    <div class="form-group">
                        <label class="control-label" for="hei1">Learning Opportunity Specifications (comma separated):</label>
                        <input id="hei1" class="form-control" ng-model="manuallyLosIds">
                    </div>
                </div>
                <div ng-show="cachedIds">
                    <div class="form-group">
                        <label class="control-label" for="hei2">Learning Opportunity Specifications:</label>
                        <select id="hei2" class="form-control" ng-model="cachedLosIds" multiple>
                            <option style="display:none" value="">Select los ids</option>
                            <option ng-repeat="losId in heiLosIds" value="{{losId}}">{{losId}}</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="input-group">
                <div class="btn-group">
                    <button type="submit" class="btn btn-default">
                        <i class="glyphicon glyphicon-send"></i> Send Request
                    </button>
                </div>
            </div>
        </form>
    </div>

    <div data-client-result="losResult"></div>
</div>