<div class="container">
    <h1 class="page-header">Echo</h1>
    <div class="panel panel-body">
        <div class="form-group">
            <label class="control-label" for="hei">Method:</label>
            <select id="hei" class="form-control" ng-model="echoRequest.method">
                <option value="GET">GET</option>
                <option value="POST">POST</option>
                <option value="PUT">PUT</option>
            </select>
        </div>
        
        <div class="checkbox">
            <label>
                <input id="httpsec" type="checkbox" ng-model="echoRequest.httpsec">
                Use HTTP sec
            </label>
        </div>

        <div class="form-group">
            <label class="control-label" for="hei">Institution:</label>
            <select id="hei" class="form-control" ng-model="echoRequest.heiId" required="required">
                <option style="display:none" value="">select an institution</option>
                <option ng-repeat="hei in echoHeis | orderBy: 'name'" value="{{hei.id}}">{{hei.name}}</option>
            </select>
        </div>

        <div class="form-group">
            <label class="control-label">Echo</label>
            <div ng-repeat="echoItem in echoRequest.params.echo track by $index">
                <input class="form-control" placeholder="Echo text" ng-model="echoRequest.params.echo[$index]"/>
            </div>
        </div>

        <div class="input-group">
            <div class="btn-group">
                <button type="button" class="btn btn-default" ng-click="addEchoItem()">
                    <i class="glyphicon glyphicon-plus-sign"></i> Add echo
                </button>
                <button type="submit" class="btn btn-default"  ng-click="sendEcho()">
                    <i class="glyphicon glyphicon-send"></i> Send Echo
                </button>
            </div>
        </div>
        
    </div>

    <div data-client-result="echoResult"></div>
</div>