<div class="container">
    <h1 class="page-header">Mobility</h1>
    <div class="panel panel-default" ng-show="showAddMobilityForm">
        <div class="panel-heading"><h2>Add Mobility</h2></div>
        <div class="panel-body">{{mobility}}
            <form class="form-horizontal" ng-submit="addMobility()">
                <div class="form-group">
                    <label class="control-label mandatory-control col-sm-3" for="iia">IIA</label>
                    <div class="col-sm-9">
                        <select id="iia" class="form-control" ng-model="newMobility.iiaId" required="required" ng-change="iiaChanged()">
                            <option style="display:none" value="">Select IIA</option>
                            <option ng-repeat="iia in iiaList | orderBy:['iiaCode']" value="{{iia.id}}">{{iia.iiaCode}} : From {{iia.startDate| date: 'yyyy-MM-dd'}} {{iia.endDate ? ' to ' + (iia.endDate | date: 'yyyy-MM-dd') : ''}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label mandatory-control col-sm-3" for="coopconditions">Cooperation conditions</label>
                    <div class="col-sm-9">
                        <select id="coopconditions" class="form-control" ng-model="newMobility.cooperationConditionId" required="required" ng-change="cooperationConditionChanged()">
                            <option style="display:none" value="">Select cooperation condition</option>
                            <option ng-repeat="condition in cooperationConditionList | orderBy:['mobilityGroup']" value="{{condition.id}}">{{condition.mobilityType.mobilityGroup}}/{{condition.mobilityType.mobilityCategory}}, {{condition.duration.number}} {{condition.duration.unit}}, {{condition.sendingPartner.institutionId}} - {{condition.receivingPartner.institutionId}}, from {{condition.startDate| date: 'yyyy-MM-dd'}} to {{condition.endDate| date: 'yyyy-MM-dd'}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label mandatory-control col-sm-3" for="participant">Participant</label>
                    <div class="col-sm-9">
                        <select id="participant" class="form-control" ng-model="newMobility.mobilityParticipantId" required="required">
                            <option style="display:none" value="">Select a participant</option>
                            <option ng-repeat="mobilityParticipant in mobilityParticipants | orderBy:['person.personId']:true" value="{{mobilityParticipant.id}}">{{mobilityParticipant.person.personId}} - {{mobilityParticipant.person.firstNames}} {{mobilityParticipant.person.lastName}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label mandatory-control col-sm-3" for="planned-arrival">Planned arrival Date</label>
                    <div class="col-sm-2">
                        <input id="planned-arrival" type="date" class="form-control" ng-model="newMobility.plannedArrivalDate" required="required">
                    </div>
                    <div class="col-sm-7"></div>
                </div>
                <div class="form-group">
                    <label class="control-label mandatory-control col-sm-3" for="planned-departure">Planned departure Date</label>
                    <div class="col-sm-2">
                        <input id="planned-departure" type="date" class="form-control" ng-model="newMobility.plannedDepartureDate" required="required">
                    </div>
                    <div class="col-sm-7"></div>
                </div>
                <div class="form-group">
                    <label class="control-label mandatory-control col-sm-3" for="mobility-status">Status</label>
                    <div class="col-sm-2">
                        <select id="mobility-status" class="form-control" ng-model="newMobility.status" required="required">
                            <option style="display:none" value="">Select status</option>
                            <option ng-repeat="status in mobilityStatuses | orderBy:['status']" value="{{status}}">{{status| capitalize}}</option>
                        </select>
                    </div>
                    <div class="col-sm-7"></div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading clearfix">
                        <h4 class="pull-left">Studied Learning Agreement Components</h4>
                        <div class="btn-group pull-right">
                            <button type="button" class="btn btn-default" ng-click="viewAddStudiedLaComponentsForm()">
                                <i class="glyphicon glyphicon-plus-sign"></i>
                            </button>
                        </div>
                    </div>
                    <div ng-show="newMobility.learningAgreement.studiedLaComponents.length > 0" class="panel-body">
                        <div ng-repeat="component in newMobility.learningAgreement.studiedLaComponents">
                            <div class="col-sm-12">{{component.title}}</div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading clearfix">
                        <h4 class="pull-left">Recognized Learning Agreement Components</h4>
                        <div class="btn-group pull-right">
                            <button type="button" class="btn btn-default" ng-click="viewAddRecognizedLaComponentsForm()">
                                <i class="glyphicon glyphicon-plus-sign"></i>
                            </button>
                        </div>
                    </div>
                    <div ng-show="newMobility.learningAgreement.recognizedLaComponents.length > 0" class="panel-body">
                        <div ng-repeat="component in newMobility.learningAgreement.recognizedLaComponents">
                            <div class="col-sm-12">{{laComponentsDescription[component.losId+"."+component.loiId]}}</div>
                        </div>
                    </div>
                </div>
                <div class="input-group">
                    <div class="btn-group">
                        <button type="submit" class="btn btn-default">
                            <span class="glyphicon glyphicon-ok-circle"></span> Save
                        </button>
                        <button type="button" class="btn btn-default" ng-click="cancelAddMobility()">
                            <span class="glyphicon glyphicon-remove-circle"></span> Cancel
                        </button>
                    </div>
                </div>
            </form>
        </div>

        <div class="panel panel-default" ng-show="showAddStudiedLaConditionForm">
            <div class="panel-heading">
                <h4>New Studied Learning Agreement Component</h4>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" ng-submit="addStudiedLaComponent()">
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="los-title">Learning opp. spec. title</label>
                        <div class="col-sm-9">
                            <input id="los-title" class="form-control" placeholder="Enter title" ng-model="newLaComponent.title"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="academic-term">Academic term display name</label>
                        <div class="col-sm-9">
                            <input id="academic-term" class="form-control" placeholder="Enter academic term display name" ng-model="newLaComponent.academicTermDisplayName"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="componentstatus">Status</label>
                        <div class="col-sm-2">
                            <select id="componentstatus" class="form-control" ng-model="newLaComponent.status" required="required">
                                <option style="display:none" value="">Select status</option>
                                <option ng-repeat="status in laComponentStatuses" value="{{status}}">{{status| capitalize}}</option>
                            </select>
                        </div>
                        <div class="col-sm-7"></div>
                    </div>
                    <div class="input-group">
                        <div class="btn-group">
                            <button type="submit" class="btn btn-default">
                                <span class="glyphicon glyphicon-ok-circle"></span> Add component
                            </button>
                            <button type="button" class="btn btn-default" ng-click="cancelAddLaComponents()">
                                <span class="glyphicon glyphicon-remove-circle"></span> Cancel
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="panel panel-default" ng-show="showAddRecognizedLaConditionForm">
            <div class="panel-heading">
                <h4>New Recognized Learning Agreement Component</h4>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" ng-submit="addRecognizedLaComponent()">
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="los">Learning opportunity specification</label>
                        <div class="col-sm-9">
                            <select id="los" class="form-control" ng-model="newLaComponent.losId" required="required" ng-change="losChanged()">
                                <option style="display:none" value="">Select learning opportunity specification</option>
                                <option ng-repeat="option in losOptions | orderBy:['text']" value="{{option.id}}">{{option.text}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="loi">Learning opportunity instance</label>
                        <div class="col-sm-9">
                            <select id="loi" class="form-control" ng-model="newLaComponent.loiId" required="required">
                                <option style="display:none" value="">Select learning opportunity instance</option>
                                <option ng-repeat="option in loiOptions" value="{{option.id}}">{{option.text}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="input-group">
                        <div class="btn-group">
                            <button type="submit" class="btn btn-default">
                                <span class="glyphicon glyphicon-ok-circle"></span> Add component
                            </button>
                            <button type="button" class="btn btn-default" ng-click="cancelAddLaComponents()">
                                <span class="glyphicon glyphicon-remove-circle"></span> Cancel
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="clearfix">
        <h2 class="pull-left">Mobilities</h2>
        <div class="btn-group pull-right" ng-show="!showAddMobilityForm">
            <button type="submit" class="btn btn-default" ng-click="viewAddMobilityForm()">
                <i class="glyphicon glyphicon-plus-sign"></i>
            </button>
        </div>
    </div>

    <div class="input-group">
        <input class="form-control" id="search" name="search" placeholder="Search for" ng-model="query"
               required="required"/>
        <span class="input-group-btn">
            <button type="submit" class="btn btn-default">
                <i class="glyphicon glyphicon-search"></i>
            </button>
        </span>
    </div>

    <div class="list-group">
        <div ng-repeat="mobility in mobilities| filter:query | orderBy:['plannedArrivalDate']:true">
            <a class="list-group-item clearfix" ng-click="isopen[mobility.id] = !isopen[mobility.id]">
                <div class="col-md-11 hide-overflow-ellipsis"><b>{{mobility.sendingInstitutionId}} - {{mobility.receivingInstitutionId}}</b></div>
                <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': isopen[mobility.id], 'glyphicon-chevron-right': !isopen[mobility.id]}"></i>
            </a>
            <div class="list-group-item clearfix" ng-show="isopen[mobility.id]">
                <div class="col-md-2">IIA id:</div><div class="col-md-10 hide-overflow-ellipsis">{{mobility.iiaId}}</div>
                <div class="col-md-2">Participant id:</div><div class="col-md-10 hide-overflow-ellipsis">{{mobility.mobilityParticipantId}}</div>
                <div class="col-md-2">Planned arrival date:</div><div class="col-md-10 hide-overflow-ellipsis">{{mobility.plannedArrivalDate| date: 'yyyy-MM-dd'}}</div>
                <div class="col-md-2">Planned departure date:</div><div class="col-md-10 hide-overflow-ellipsis">{{mobility.plannedDepartureDate| date: 'yyyy-MM-dd'}}</div>
                <div class="col-md-2">Sending institution id:</div><div class="col-md-10 hide-overflow-ellipsis">{{mobility.sendingInstitutionId}}</div>
                <div ng-if="mobility.sendingOrganizationUnitId">
                    <div class="col-md-2">Sending org unit id:</div><div class="col-md-10 hide-overflow-ellipsis">{{mobility.sendingOrganizationUnitId}}</div>
                </div>
                <div class="col-md-2">Receiving institution id:</div><div class="col-md-10 hide-overflow-ellipsis">{{mobility.receivingInstitutionId}}</div>
                <div ng-if="mobility.receivingOrganizationUnitId">
                    <div class="col-md-2">Receiving org unit id:</div><div class="col-md-10 hide-overflow-ellipsis">{{mobility.receivingOrganizationUnitId}}</div>
                </div>
                <div class="col-md-2">Status:</div><div class="col-md-10 hide-overflow-ellipsis">{{mobility.status| capitalize}}</div>
            </div>
        </div>
    </div>
</div>
