<div class="container">
    <h1 class="page-header">Academic Term</h1>
    <div class="panel panel-default" ng-show="showAddAcademicTermForm">
        <div class="panel-heading"><h2>Add Academic term</h2></div>
        <div class="panel-body">
            <form class="form-horizontal"  ng-submit="addAcademicTerm()">
                <div class="form-group">
                    <label class="control-label col-sm-2" for="institution">Institution:</label>
                    <div class="col-sm-10">
                        <select id="institution" class="form-control" ng-model="newAcademicTerm.institutionId" required="required" ng-change="institutionChanged()">
                            <option style="display:none" value="">select an institution</option>
                            <option ng-repeat="inst in institutions" value="{{inst.institutionId}}">{{(inst.name | languageItem : 'en').text}}, {{inst.country}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="orgunit">Organization Unit:</label>
                    <div class="col-sm-10">
                        <select id="orgunit" class="form-control" ng-model="newAcademicTerm.organizationUnitId" required="required">
                            <option style="display:none" value="">select an organization unit</option>
                            <option ng-repeat="org in organizations" value="{{org.organizationUnitId}}">{{(org.name | languageItem : 'en').text}}, {{org.country}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="acyearid">Academic year id:</label>
                    <div class="col-sm-10">
                        <input id="acyearid" type="text" class="form-control" placeholder="Enter Academic year id" ng-model="newAcademicTerm.academicYearId" required="required">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="actermid">Academic term id:</label>
                    <div class="col-sm-10">
                        <input id="actermid" type="text" class="form-control" placeholder="Enter Academic term id" ng-model="newAcademicTerm.academicTermId" required="required">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="dispName">Term name:</label>
                    <div class="col-sm-10">
                        <input id="dispName" type="text" class="form-control" placeholder="Enter Academic term name" ng-model="newAcademicTerm.dispNameStr" required="required">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="startdate">Start Date:</label>
                    <div class="col-sm-10">
                        <input id="startdate" type="date" class="form-control" placeholder="Enter start date" ng-model="newAcademicTerm.startDate" required="required">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="enddate">Start Date:</label>
                    <div class="col-sm-10">
                        <input id="enddate" type="date" class="form-control" placeholder="Enter end date" ng-model="newAcademicTerm.endDate" required="required">
                    </div>
                </div>
                <div class="input-group">
                    <div class="btn-group">
                        <button type="submit" class="btn btn-default">
                            <span class="glyphicon glyphicon-ok-circle"></span> Save
                        </button>
                        <button type="button" class="btn btn-default" ng-click="cancelAddAcademicTerm()">
                            <span class="glyphicon glyphicon-remove-circle"></span> Cancel
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="clearfix">
        <h2 class="pull-left">Academic Terms</h2>
        <div class="btn-group pull-right" ng-show="!showAddAcademicTermForm">
            <button type="submit" class="btn btn-default" ng-click="viewAddAcademicTermForm()">
                <i class="glyphicon glyphicon-plus-sign"></i>
            </button>
        </div>
    </div>
        
    <div class="input-group">
        <input class="form-control" id="search" name="search" placeholder="Search for" ng-model="query" required="required"/>
        <span class="input-group-btn">
            <button type="submit" class="btn btn-default">
                <i class="glyphicon glyphicon-search"></i>
            </button>
        </span>
    </div>
        
    <div class="list-group">
        <div ng-repeat="academicTerm in academicTerms | filter:query" ng-click="isopen[academicTerm.id] = !isopen[academicTerm.id]">
            <a class="list-group-item">
                <b>{{(academicTerm.dispName | languageItem : 'en').text}}</b>
                <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': isopen[academicTerm.id], 'glyphicon-chevron-right': !isopen[academicTerm.id]}"></i>
            </a>
            <div class="list-group-item" ng-show="isopen[academicTerm.id]">
                Start date: {{academicTerm.startDate | date: 'yyyy-MM-dd'}}<br/>
                End date: {{academicTerm.endDate | date: 'yyyy-MM-dd'}}
            </div>
        </div>
    </div>
</div>

