<div class="container">
    <div class="well page">
        <div class="clearfix">
            <h3 class="pull-left">Academic Terms</h3>
        </div>
        <div class="list-group">
            <div class="list-group-item">
                <div ng-repeat="academicTerm in academicTerms | filter:query" ng-click="isopen[academicTerm.id] = !isopen[academicTerm.id]">
                    <a class="list-group-item">
                        <b>{{academicTerm.institutionId}} {{academicTerm.organizationUnitId}}</b>
                        <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': isopen[academicTerm.id], 'glyphicon-chevron-right': !isopen[academicTerm.id]}"></i>
                    </a>
                    <div class="list-group-item" ng-show="isopen[academicTerm.id]">
                        Start date: {{academicTerm.startDate | date: 'yyyy-MM-dd'}}<br/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
