<div ng-if="contact.contactName.length > 0" ng-repeat="line in contact.contactName">
    <div class="col-sm-2 hide-overflow-ellipsis">{{$index === 0 ? 'Name:' : ''}}</div><div class="col-md-10">{{line.value}}{{line.lang ? ' (' + line.lang + ')' : ''}}</div>
</div>
<div ng-if="contact.phoneNumber.length > 0" ng-repeat="line in contact.phoneNumber">
    <div class="col-sm-2 hide-overflow-ellipsis">{{$index === 0 ? 'Phone number:' : ''}}</div><div class="col-md-10">{{line.e164}}</div>
</div>
<div ng-if="contact.faxNumber.length > 0" ng-repeat="line in contact.faxNumber">
    <div class="col-sm-2 hide-overflow-ellipsis">{{$index === 0 ? 'Fax number:' : ''}}</div><div class="col-md-10">{{line.e164}}</div>
</div>
<div ng-if="contact.email.length > 0" ng-repeat="line in contact.email">
    <div class="col-sm-2 hide-overflow-ellipsis">{{$index === 0 ? 'Email:' : ''}}</div><div class="col-md-10">{{line}}</div>
</div>
<div data-flexible-address data-address="contact.streetAddress"></div>
<div data-flexible-address data-address="contact.mailingAddress"></div>
<div ng-if="contact.roleDescription.length > 0" ng-repeat="line in contact.roleDescription">
    <div class="col-sm-2 hide-overflow-ellipsis">{{$index === 0 ? 'Description:' : ''}}</div><div class="col-md-10">{{line.value}}{{line.lang ? ' (' + line.lang + ')' : ''}}</div>
</div>
