<div class="form-group">
    <label class="control-label col-sm-2" for="address-line">Address line</label>
    <div class="col-sm-10">
        <input id="address-line" type="text" class="form-control" placeholder="Enter address line" ng-model="address.addressLine[0]">
    </div>
</div>
<div class="form-group">
    <label class="control-label col-sm-2" for="building-number">Building number</label>
    <div class="col-sm-3">
        <input id="building-number" type="text" class="form-control" placeholder="Enter building number" ng-model="address.buildingNumber">
    </div>
    <div class="col-sm-7"></div>
</div>
<div class="form-group">
    <label class="control-label col-sm-2" for="building-name">Building name</label>
    <div class="col-sm-10">
        <input id="building-name" type="text" class="form-control" placeholder="Enter building name" ng-model="address.buildingName">
    </div>
</div>
<div class="form-group">
    <label class="control-label col-sm-2" for="street-name">Street name</label>
    <div class="col-sm-10">
        <input id="street-name" type="text" class="form-control" placeholder="Enter street name" ng-model="address.streetName">
    </div>
</div>
<div class="form-group">
    <label class="control-label col-sm-2" for="unit">Unit</label>
    <div class="col-sm-10">
        <input id="unit" type="text" class="form-control" placeholder="Enter unit" ng-model="address.unit">
    </div>
</div>
<div class="form-group">
    <label class="control-label col-sm-2" for="floor">Floor</label>
    <div class="col-sm-3">
        <input id="floor" type="text" class="form-control" placeholder="Enter floor" ng-model="address.floor">
    </div>
    <div class="col-sm-7"></div>
</div>
<div class="form-group">
    <label class="control-label col-sm-2" for="box">Post office box</label>
    <div class="col-sm-10">
        <input id="box" type="text" class="form-control" placeholder="Enter post office box" ng-model="address.postOfficeBox">
    </div>
</div>
<div class="form-group">
    <label class="control-label col-sm-2" for="delivery-point-code">Delivery point code</label>
    <div class="col-sm-10">
        <input id="delivery-point-code" type="text" class="form-control" placeholder="Enter delivery point code" ng-model="newInstitution.deliveryPointCode">
    </div>
</div>
<div class="form-group">
    <label class="control-label col-sm-2" for="postal-code">Postal code</label>
    <div class="col-sm-3">
        <input id="postal-code" type="text" class="form-control" placeholder="Enter postal code" ng-model="address.postalCode">
    </div>
    <div class="col-sm-7"></div>
</div>
<div class="form-group">
    <label class="control-label col-sm-2" for="locality">City</label>
    <div class="col-sm-10">
        <input id="locality" type="text" class="form-control" placeholder="Enter city/locality" ng-model="address.locality">
    </div>
</div>
<div class="form-group">
    <label class="control-label col-sm-2" for="region">Region</label>
    <div class="col-sm-10">
        <input id="region" type="text" class="form-control" placeholder="Enter region" ng-model="address.region">
    </div>
</div>
<div class="form-group">
    <label class="control-label col-sm-2" for="country">Country code</label>
    <div class="col-sm-3">
        <input id="country" type="text" class="form-control" placeholder="Enter country code" ng-model="address.country">
    </div>
    <div class="col-sm-7"></div>
</div>
