<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="#/home"><b><i class="glyphicon glyphicon-home"></i> Home</b></a></li>
                <li><a href="#/institution">Organization</a></li>
                <li><a href="#/course">Course</a></li>
                <li><a href="#/iia">IIA</a></li>
                <li><a href="#/mobility">Mobility</a></li>
                <li><a href="#/echo">Other Connectors</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <h3>Welcome to the EWP reference connector</h3>
    <blockquote>
        <p>{{myName}}</p>
    </blockquote>
    <p>This instance is running on <code>localhost</code></p>

</div>