<div class="container">
    <h1 class="page-header">IIA</h1>

    <div class="panel panel-default" ng-show="showAddIiaForm">
        <div class="panel-heading"><h2>Add IIA</h2></div>
        <div class="panel-body">
            <form class="form-horizontal" ng-submit="addIia()">
                <div class="form-group">
                    <label class="control-label col-sm-2" for="iiaid">IIA id</label>
                    <div class="col-sm-10">
                        <input id="iiaid" type="text" class="form-control" placeholder="Enter IIA id" ng-model="newIia.iiaId" required="required">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="startdate">Start date</label>
                    <div class="col-sm-2">
                        <input id="startdate" type="date" class="form-control" ng-model="newIia.startDate" required="required">
                    </div>
                    <div class="col-sm-8"></div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="enddate">End date</label>
                    <div class="col-sm-2">
                        <input id="enddate" type="date" class="form-control" ng-model="newIia.endDate" required="required">
                    </div>
                    <div class="col-sm-8"></div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading clearfix">
                        <h4 class="pull-left">Cooperation conditions</h4>
                        <div class="btn-group pull-right">
                            <button type="button" class="btn btn-default" ng-click="viewAddCooperationConditionForm()">
                                <i class="glyphicon glyphicon-plus-sign"></i>
                            </button>
                        </div>
                    </div>
                    <div ng-show="conditions.length > 0" class="panel-body">
                        <div ng-repeat="condition in conditions">
                            <div class="col-sm-4">{{condition.sendingPartner.institutionId}} - {{condition.receivingPartner.institutionId}}</div>
                            <div class="col-sm-4">{{condition.mobilityType.mobilityGroup}}:{{condition.mobilityType.mobilityCategory}}</div>
                            <div class="col-sm-4">{{condition.startDate| date: 'yyyy-MM-dd'}} -- {{condition.endDate| date: 'yyyy-MM-dd'}}</div>
                        </div>
                    </div>
                </div>
                <div class="input-group">
                    <div class="btn-group">
                        <button type="submit" class="btn btn-default" ng-disabled="!(conditions && conditions.length > 0)">
                            <span class="glyphicon glyphicon-ok-circle"></span> Save IIA
                        </button>
                        <button type="button" class="btn btn-default" ng-click="cancelAddIia()">
                            <span class="glyphicon glyphicon-remove-circle"></span> Cancel
                        </button>
                    </div>
                </div>
            </form>
        </div>

        <div class="panel panel-default" ng-show="showAddConditionForm">
            <div class="panel-heading">
                <h4>New Cooperation condition</h4>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" ng-submit="addCondition()">
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="sendinginst">Sending institution</label>
                        <div class="col-sm-9">
                            <input id="sendinginst" type="text" class="form-control" placeholder="Enter institution id" ng-model="newCondition.sendingPartner.institutionId" required="required">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="sendingorgunit">Sending organization unit</label>
                        <div class="col-sm-9">
                            <input id="sendingorgunit" type="text" class="form-control" placeholder="Enter organization unit id (optional)" ng-model="newCondition.sendingPartner.organizationUnitId">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="receivinginst">Receiving institution</label>
                        <div class="col-sm-9">
                            <input id="receivinginst" type="text" class="form-control" placeholder="Enter institution id" ng-model="newCondition.receivingPartner.institutionId" required="required">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="receivingorgunit">Receiving organization unit</label>
                        <div class="col-sm-9">
                            <input id="receivingorgunit" type="text" class="form-control" placeholder="Enter organization unit id (optional)" ng-model="newCondition.receivingPartner.organizationUnitId">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="mobilitytype">Mobility type</label>
                        <div class="col-sm-9">
                            <select id="mobilitytype" class="form-control" ng-model="newCondition.mobilityTypeId" required="required">
                                <option style="display:none" value="">Select mobility type</option>
                                <option ng-repeat="mobilityType in mobilityTypes | orderBy:['mobilityGroup','mobilityCategory']" value="{{mobilityType.id}}">{{mobilityType.mobilityGroup}} : {{mobilityType.mobilityCategory}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="startdate">Start date</label>
                        <div class="col-sm-3">
                            <input id="startdate" type="date" class="form-control" ng-model="newCondition.startDate" required="required">
                        </div>
                        <div class="col-sm-6"></div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="enddate">End date</label>
                        <div class="col-sm-3">
                            <input id="enddate" type="date" class="form-control" ng-model="newCondition.endDate" required="required">
                        </div>
                        <div class="col-sm-6"></div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="mobilitynumber">Mobility number</label>
                        <div class="col-sm-1">
                            <input id="mobilitynumber" type="number" min="0" class="form-control" placeholder="0" ng-model="newCondition.mobilityNumber.number" required="required">
                        </div>
                        <div class="col-sm-2">
                            <select id="mobilitynumbervariant" class="form-control" ng-model="newCondition.mobilityNumber.variant" required="required">
                                <option style="display:none" value="">Select variant</option>
                                <option ng-repeat="mobNumberVar in mobilityNumberVariants" value="{{mobNumberVar}}">{{mobNumberVar | capitalize}}</option>
                            </select>
                        </div>
                        <div class="col-sm-6"></div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="duration">Duration</label>
                        <div class="col-sm-1">
                            <input id="duration" type="number" min="0" step="0.1" class="form-control" placeholder="0" ng-model="newCondition.duration.number" required="required">
                        </div>
                        <div class="col-sm-2">
                            <select id="durationunit" class="form-control" ng-model="newCondition.duration.unit" required="required">
                                <option style="display:none" value="">Select unit</option>
                                <option ng-repeat="durationUnit in durationUnits" value="{{durationUnit}}">{{durationUnit | capitalize}}</option>
                            </select>
                        </div>
                        <div class="col-sm-6"></div>
                    </div>
                    <div class="row form-group">
                        <label class="control-label col-sm-3" for="eqflevel">EQF level</label>
                        <div class="col-sm-1">
                            <input id="eqflevel" type="number" min="0" class="form-control" placeholder="0" ng-model="newCondition.eqfLevel" required="required">
                        </div>
                        <div class="col-sm-8"></div>
                    </div>
                    <div class="input-group">
                        <div class="btn-group">
                            <button type="submit" class="btn btn-default">
                                <span class="glyphicon glyphicon-ok-circle"></span> Add condition
                            </button>
                            <button type="button" class="btn btn-default" ng-click="cancelAddCondition()">
                                <span class="glyphicon glyphicon-remove-circle"></span> Cancel
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div ng-show="!selectedIia">
        <div class="clearfix">
            <h2 class="pull-left">IIA's</h2>
            <div class="btn-group pull-right" ng-show="!showAddIiaForm">
                <button type="submit" class="btn btn-default" ng-click="showAddIiaForm = true">
                    <i class="glyphicon glyphicon-plus-sign"></i>
                </button>
            </div>
        </div>
        <div id="iiaList">
            <div class="input-group">
                <input class="form-control" id="search" name="search" placeholder="Search for" ng-model="query" required="required"/>
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-default">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </span>
            </div>
            <div class="list-group">
                <div ng-repeat="iia in iiaList| filter:query | orderBy:['startDate']:true" ng-click="setSelectedIia(iia)">
                    <a class="list-group-item clearfix">
                        <b>IIA id: {{iia.iiaId}}</b>
                        <i class="pull-right glyphicon glyphicon-chevron-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div ng-show="selectedIia && !selectedCoopCond">
        <h2>{{selectedIia.iiaId}}</h2>
        <div>
            <div class="col-md-2">Start date:</div><div class="col-md-10">{{selectedIia.startDate| date: 'yyyy-MM-dd'}}</div>
        </div>
        <div>
            <div class="col-md-2">End date:</div><div class="col-md-10">{{selectedIia.endDate| date: 'yyyy-MM-dd'}}</div>
        </div>

        <div ng-if="selectedIia.cooperationConditions.length > 0">
            <div class="clearfix">
                <h3 class="pull-left">Cooperation conditions</h3>
            </div>
            <div class="input-group">
                <input class="form-control" id="search" name="search" placeholder="Search for" ng-model="query2" required="required"/>
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-default">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </span>
            </div>
            <div class="list-group">
                <div ng-repeat="cooperationCondition in selectedIia.cooperationConditions| filter:query2 | orderBy:['startDate']:true" ng-click="setSelectedCoopCond(cooperationCondition)">
                    <a class="list-group-item clearfix">
                        <b>{{cooperationCondition.sendingPartner.institutionId}} - {{cooperationCondition.receivingPartner.institutionId}}</b>
                        <i class="pull-right glyphicon glyphicon-chevron-right"></i>
                    </a>
                </div>
            </div>
        </div>
        <button ng-click="backIia()" class="btn btn-default"><i class="glyphicon glyphicon-chevron-left"></i> Back</button>
    </div>

    <div ng-show="selectedCoopCond">
        <h3>{{selectedCoopCond.sendingPartner.institutionId}} - {{selectedCoopCond.receivingPartner.institutionId}}</h3>
        <div class="clearfix margin-bottom-1em">
            <div>
                <div class="col-md-3">Sending institution:</div><div class="col-md-9">{{selectedCoopCond.sendingPartner.institutionId}}</div>
            </div>
            <div ng-show="selectedCoopCond.sendingPartner.organizationUnitId">
                <div class="col-md-3">Sending organization unit:</div><div class="col-md-9">{{selectedCoopCond.sendingPartner.organizationUnitId}}</div>
            </div>
            <div>
                <div class="col-md-3">Receiving institution:</div><div class="col-md-9">{{selectedCoopCond.receivingPartner.institutionId}}</div>
            </div>
            <div ng-show="selectedCoopCond.receivingPartner.organizationUnitId">
                <div class="col-md-3">Receiving org unit:</div><div class="col-md-9">{{selectedCoopCond.receivingPartner.organizationUnitId}}</div>
            </div>
            <div>
                <div class="col-md-3">Start date:</div><div class="col-md-9">{{selectedCoopCond.startDate| date: 'yyyy-MM-dd'}}</div>
            </div>
            <div>
                <div class="col-md-3">End date:</div><div class="col-md-9">{{selectedCoopCond.endDate| date: 'yyyy-MM-dd'}}</div>
            </div>
            <div>
                <div class="col-md-3">Mobility  type:</div><div class="col-md-9">{{selectedCoopCond.mobilityType.mobilityGroup}}/{{selectedCoopCond.mobilityType.mobilityCategory}}</div>
            </div>
            <div>
                <div class="col-md-3">Mobility number:</div><div class="col-md-9">{{selectedCoopCond.mobilityNumber.variant| capitalize}} {{selectedCoopCond.mobilityNumber.number}}</div>
            </div>
            <div>
                <div class="col-md-3">Duration:</div><div class="col-md-9">{{selectedCoopCond.duration.number}} {{selectedCoopCond.duration.unit| capitalize}}</div>
            </div>
            <div>
                <div class="col-md-3">EQF level:</div><div class="col-md-9">{{selectedCoopCond.eqfLevel}}</div>
            </div>
        </div>
        <button ng-click="backCoopCond()" class="btn btn-default"><i class="glyphicon glyphicon-chevron-left"></i> Back</button>
    </div>
</div>
