<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="#/home"><i class="glyphicon glyphicon-home"></i> Home</a></li>
                <li><a href="#/institution"><b>Institution</b></a></li>
                <li><a href="#/coordinator">Coordinator</a></li>
                <li><a href="#/person">Person</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="well page">
        <div class="list-group-item" ng-show="showAddInstitiutionForm">
            <h3>Add Institution</h3>
            <form class="form-horizontal"  ng-submit="addInstitution()">
                <div class="form-group">
                    <label class="control-label col-sm-2" for="instid">Institution Id:</label>
                    <div class="col-sm-10">
                        <input id="instid" type="text" class="form-control" placeholder="Enter institution identifier" ng-model="newInstitution.institutionId" required="required">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="oid">Other Id:</label>
                    <div class="col-sm-10">
                        <input id="oid" type="text" class="form-control" placeholder="Enter other identifier" ng-model="newInstitution.otherId" required="required">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="name">Name:</label>
                    <div class="col-sm-10">
                        <input id="name" type="text" class="form-control" placeholder="Enter institution name" ng-model="newInstitution.nameStr" required="required">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="ccode">Country Code:</label>
                    <div class="col-sm-10">
                        <input id="ccode" type="text" class="form-control" placeholder="Enter country code" ng-model="newInstitution.country" required="required">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="descr">Descriprion:</label>
                    <div class="col-sm-10">
                        <input id="descr" type="text" class="form-control" placeholder="Enter description" ng-model="newInstitution.descriptionStr" required="required">
                    </div>
                </div>
                <div class="input-group">
                    <div class="btn-group">
                        <button type="submit" class="btn btn-default">
                            <span class="glyphicon glyphicon-ok-circle"></span> Save
                        </button>
                        <button type="button" class="btn btn-default" ng-click="cancelAddForm()">
                            <span class="glyphicon glyphicon-remove-circle"></span> Cancel
                        </button>
                    </div>
                </div>
            </form>
        </div>
        
        <div class="list-group-item" ng-show="showAddOrganizationUnitForm">
            <h3>Add Organization Unit</h3>
            <form class="form-horizontal"  ng-submit="addOrganizationUnit()">
                <div class="form-group">
                    <label class="control-label col-sm-2" for="oouid">Organization Unit Id:</label>
                    <div class="col-sm-10">
                        <input id="oouid" type="text" class="form-control" placeholder="Enter organization unit identifier" ng-model="newOrganizationUnit.organizationUnitId" required="required">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="oid">Other Id:</label>
                    <div class="col-sm-10">
                        <input id="oid" type="text" class="form-control" placeholder="Enter other identifier" ng-model="newOrganizationUnit.otherId" required="required">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="name">Name:</label>
                    <div class="col-sm-10">
                        <input id="name" type="text" class="form-control" placeholder="Enter institution name" ng-model="newOrganizationUnit.nameStr" required="required">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="ccode">Country Code:</label>
                    <div class="col-sm-10">
                        <input id="ccode" type="text" class="form-control" placeholder="Enter country code" ng-model="newOrganizationUnit.country" required="required">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="descr">Descriprion:</label>
                    <div class="col-sm-10">
                        <input id="descr" type="text" class="form-control" placeholder="Enter description" ng-model="newOrganizationUnit.descriptionStr" required="required">
                    </div>
                </div>
                <div class="input-group">
                    <div class="btn-group">
                        <button type="submit" class="btn btn-default">
                            <span class="glyphicon glyphicon-ok-circle"></span> Save
                        </button>
                        <button type="button" class="btn btn-default" ng-click="cancelAddForm()">
                            <span class="glyphicon glyphicon-remove-circle"></span> Cancel
                        </button>
                    </div>
                </div>
            </form>
        </div>        
        
        <div class="clearfix">
            <h3 class="pull-left">Institutions</h3>
            <div class="btn-group pull-right" ng-show="!showAddInstitiutionForm && !showAddOrganizationUnitForm">
                <button type="submit" class="btn btn-default" ng-click="viewAddForm()">
                    <i class="glyphicon glyphicon-plus-sign"></i>
                </button>
            </div>
        </div>
        <div id="institutionList" ng-show="!currentInstOrgObject">
            <div class="input-group">
                <input class="form-control" id="search" name="search" placeholder="Search for" ng-model="query"
                       required="required"/>
                  <span class="input-group-btn">
                      <button type="submit" class="btn btn-default">
                          <i class="glyphicon glyphicon-search"></i>
                      </button>
                  </span>
            </div>
            <div class="list-group">
                <div class="list-group-item">
                    <div ng-repeat="institution in institutions | filter:query" ng-click="setCurrentInstOrgObject(institution)">
                        <a class="list-group-item">
                            <b>{{(institution.name | languageItem : 'en').text}} - {{institution.country}}</b>
                            <i class="pull-right glyphicon glyphicon-chevron-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div ng-show="currentInstOrgObject">
            <div ng-repeat="name in currentInstOrgObject.name">
                Name ({{name.lang}}): {{name.text}}<br>
            </div>
            
            Country: {{currentInstOrgObject.country}}<br>
            <div ng-repeat="description in currentInstOrgObject.description">
                Description ({{description.lang}}): {{description.text}}<br>
            </div>
            <div ng-if="currentInstOrgObject.organizationUnits && currentInstOrgObject.organizationUnits.length > 0">
                <div class="input-group">
                    <input class="form-control" id="search" name="search" placeholder="Search for" ng-model="query2"
                           required="required"/>
                      <span class="input-group-btn">
                          <button type="submit" class="btn btn-default">
                              <i class="glyphicon glyphicon-search"></i>
                          </button>
                      </span>
                </div>
                <div class="list-group">
                    <div class="list-group-item">
                        <div ng-repeat="obj in currentInstOrgObject.organizationUnits | filter:query2" ng-click="setCurrentInstOrgObject(obj)">
                            <a class="list-group-item">
                                <b>{{(obj.name | languageItem : 'en').text}} - {{obj.country}}</b>
                                <i class="pull-right glyphicon glyphicon-chevron-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <button ng-click="backCurrentInstOrgObject()" class="btn btn-default"><i class="glyphicon glyphicon-chevron-left"></i> Back</button>
        </div>
    </div>
</div>

