<div class="container">
    <h1 class="page-header">Institution</h1>
    <div class="panel panel-body">
        <form class="form-horizontal" ng-submit="sendInstitutionRequest()">
            <div class="form-group">
                <label class="control-label" for="hei">Method:</label>
                <select id="hei" class="form-control" ng-model="institutionRequest.method" required="required">
                    <option value="GET">GET</option>
                    <option value="POST">POST</option>
                    <option value="PUT">PUT</option>
                </select>
            </div>

            <div class="form-group">
                <label class="control-label" for="hei">EWP URL:</label>
                <select id="url" class="form-control" ng-model="institutionRequest.url" required="required" ng-change="urlChanged()">
                    <option style="display:none" value="">select an EWP URL</option>
                    <option ng-repeat="url in urls | orderBy: 'toString()'" value="{{url}}">{{url}}</option>
                </select>
            </div>

            <div class="form-group">
                <label class="control-label" for="hei">Institution:</label>
                <select id="hei" class="form-control" ng-model="institutionRequest.heiIds" required="required" multiple>
                    <option style="display:none" value="">Select an institutions</option>
                    <option ng-repeat="hei in urlHeis | orderBy: 'name'" value="{{hei.id}}">{{hei.name}}</option>
                </select>
            </div>


            <div class="input-group">
                <div class="btn-group">
                    <button type="submit" class="btn btn-default">
                        <i class="glyphicon glyphicon-send"></i> Send Request
                    </button>
                </div>
            </div>
        </form>
    </div>

    <div class="panel panel-default" ng-show="institutionResult">
        <div class="panel-heading"><h2>Response</h2></div>
        <div class="panel-body">
            <div class="well">
                Response time: {{institutionResult.duration}}ms
            </div>
            
            <ul class="nav nav-tabs">
                <li ng-class="{'active':!isRaw}"><a ng-click="isRaw=false">Formatted</a></li>
                <li ng-class="{'active':isRaw}"><a ng-click="isRaw=true">Raw</a></li>
            </ul>
            <div ng-show="!isRaw">
                <div class="alert alert-success" ng-if="institutionResult.statusCode === 200">
                    TODO!!!
                </div>

                <div class="alert alert-danger" ng-if="institutionResult.statusCode !== 200">
                    <div class="row">
                        <div ng-if="institutionResult.statusCode > 0">
                            <div class="col-md-2">Status Code: </div><div class="col-md-10">{{institutionResult.statusCode}}</div>
                            <div class="col-md-2">Media Type: </div><div class="col-md-10">{{institutionResult.mediaType}}</div>
                        </div>
                        <div class="col-md-2">Error Message: </div><div class="col-md-10">{{institutionResult.errorMessage}}</div>
                    </div>
                </div>
            </div>
            <div ng-show="isRaw">
                <pre><code>{{institutionResult.rawResponse | prettyprint}}</code></pre>
            </div>
        </div>
    </div>
</div>