<div class="container">
    <h1 class="page-header">Learning opportunity instance</h1>

    <div class="tree-menu">
        <script type="text/ng-template" id="los_renderer.html">
            <a ng-click="showLos(los)">
            <span class="expand-button">
            <button type="button" class="btn btn-default" ng-if="los.learningOpportunitySpecifications.length > 0" ng-click="toggleLosMenuItem(los)">
            <i class="glyphicon" ng-class="{'glyphicon-chevron-down': los.expanded, 'glyphicon-chevron-right': !los.expanded}"></i>
            </button>
            </span>
            {{los.losCode ? los.losCode + ' - ' : ''}}{{(los.name | languageItem:'en').text}}, {{los.type | enumToReadable}} ({{los.learningOpportunityInstances.length}})
            </a>
            <ul ng-if="los.learningOpportunitySpecifications.length > 0" ng-show="los.expanded">
            <li ng-repeat="los in los.learningOpportunitySpecifications" ng-include="'los_renderer.html'" ng-class="{'active':los===currentLos}"></li>
            </ul>
        </script>
        <ul>
            <li ng-repeat="los in losList| orderBy:['losCode']" ng-include="'los_renderer.html'" ng-class="{'active':los === currentLos}"></li>
        </ul>
    </div>

    <div class="panel panel-default" ng-show="currentLos">
        <div class="panel-heading"><h2>{{currentLos.losCode ? currentLos.losCode + ' - ' : ''}}{{(currentLos.name| languageItem:'en').text}} ({{currentLos.type| enumToReadable}})</h2></div>
        <div class="panel-body">
            <div ng-if="currentLos.id">
                <div class="col-md-2">LOS id:</div><div class="col-md-10">{{currentLos.id}}</div>
            </div>
            <div ng-if="currentLos.losCode">
                <div class="col-md-2">LOS code:</div><div class="col-md-10">{{currentLos.losCode}}</div>
            </div>
            <div ng-repeat="name in currentLos.name">
                <div class="col-md-2">Name ({{name.lang}}):</div><div class="col-md-10 hide-overflow-ellipsis">{{name.text}}</div>
            </div>
            <div ng-if="currentLos.url.length > 0">
                <div ng-repeat="url in currentLos.url">
                    <div class="col-md-2">URL ({{url.lang}}):</div><div class="col-md-10 hide-overflow-ellipsis">{{url.text}}</div>
                </div>
            </div>
            <div ng-if="currentLos.type">
                <div class="col-md-2">Type:</div><div class="col-md-10">{{currentLos.type| enumToReadable}}</div>
            </div>
            <div ng-if="currentLos.eqfLevel">
                <div class="col-md-2">EQF level:</div><div class="col-md-10">{{currentLos.eqfLevel}}</div>
            </div>
            <div ng-if="currentLos.iscedf">
                <div class="col-md-2">ISCED-F:</div><div class="col-md-10">{{currentLos.iscedf}}</div>
            </div>
            <div ng-if="currentLos.subjectArea">
                <div class="col-md-2">Subject area:</div><div class="col-md-10">{{currentLos.subjectArea}}</div>
            </div>
            <div ng-repeat="description in currentLos.description">
                <div class="col-md-2">Description ({{description.lang}}):</div><pre class="col-md-10 ">{{description.text}}</pre>
            </div>
            <div ng-if="currentLos.institutionId">
                <div class="col-md-2">Institution id:</div><div class="col-md-10">{{currentLos.institutionId}}</div>
            </div>
            <div ng-if="currentLos.organizationUnitId">
                <div class="col-md-2">Organization unit id:</div><div class="col-md-10">{{currentLos.organizationUnitId}}</div>
            </div>
        </div>

        <div class="clearfix">
            <h2 class="col-md-10">Learning opportunity instances ({{currentLos.learningOpportunityInstances.length}})</h2>
        </div>
        <div class="list-group">
            <div ng-repeat="instance in currentLos.learningOpportunityInstances| orderBy: 'academicTerm.startDate': true">
                <div class="list-group-item clearfix">
                    <div class="col-md-2">Id:</div><div class="col-md-10 hide-overflow-ellipsis">{{instance.id}}</div>
                    <div ng-if="instance.organizationUnitId">
                        <div class="col-md-2">Organization unit id:</div><div class="col-md-10 hide-overflow-ellipsis">{{instance.organizationUnitId}}</div>
                    </div>
                    <div class="col-md-2">Start date:</div><div class="col-md-10 hide-overflow-ellipsis">{{instance.academicTerm.startDate| date: 'yyyy-MM-dd'}}</div>
                    <div class="col-md-2">End date:</div><div class="col-md-10 hide-overflow-ellipsis">{{instance.academicTerm.endDate| date: 'yyyy-MM-dd'}}</div>
                    <div ng-repeat="credit in instance.credits">
                        <div class="col-md-2">{{$index === 0 ? 'Credits:' : ''}}</div><div class="col-md-10 hide-overflow-ellipsis">{{credit.value}} {{credit.scheme}} - {{credit.level}}</div>
                    </div>
                    <div ng-repeat="label in instance.gradingScheme.label">
                        <div class="col-md-2">{{$index === 0 ? 'Grading scheme label:' : ''}}</div><div class="col-md-10 hide-overflow-ellipsis">{{label.text}}</div>
                    </div>
                    <div ng-repeat="desc in instance.gradingScheme.description">
                        <div class="col-md-2">{{$index === 0 ? 'Grading scheme desc:' : ''}}</div><div class="col-md-10 hide-overflow-ellipsis">{{desc.text}} ({{desc.lang}})</div>
                    </div>
                    <div ng-if="instance.languageOfInstruction">
                        <div class="col-md-2">Language of instruction:</div><div class="col-md-10 hide-overflow-ellipsis">{{instance.languageOfInstruction}}</div>
                    </div>
                    <div ng-if="instance.engagementHours">
                        <div class="col-md-2">Engagement hours:</div><div class="col-md-10 hide-overflow-ellipsis">{{instance.engagementHours}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="btn-group margin-bottom-1em" ng-show="!showLearningOppInstanceForm">
            <button type="submit" class="btn btn-default" ng-click="viewAddLearningOppInstanceForm()">
                <i class="glyphicon glyphicon-plus-sign"></i> Add instance
            </button>
        </div>
    </div>

    <div class="panel panel-default" ng-show="showAddLearningOppInstanceForm">
        <div class="panel-heading">
            <h2 ng-if="currentLos">Add an instance of {{currentLos.losCode ? currentLos.losCode + ' - ' : ''}}{{(currentLos.name| languageItem:'en').text}}</h2>
        </div>
        <div class="panel-body">
            <form class="form-horizontal" ng-submit="addLearningOppInstance(currentLos)">
                <div class="form-group">
                    <label class="control-label mandatory-control col-sm-2" for="academicterm">Academic term</label>
                    <div class="col-sm-6">
                        <select id="academicterm" class="form-control" ng-model="newLearningOppInstance.academicTermId" required="required">
                            <option style="display:none" value="">Select Academic term</option>
                            <option ng-repeat="term in academicTerms| orderBy:['endDate']:true" value="{{term.id}}">{{term.startDate| date: 'yyyy-MM-dd'}} --- {{term.endDate| date: 'yyyy-MM-dd'}} : {{(term.dispName| languageItem:'en').text}}</option>
                        </select>
                    </div>
                    <div class="col-sm-4"></div>
                </div>
                <div class="form-group">
                    <label class="control-label mandatory-control col-sm-2" for="creditvalue">Credits</label>
                    <div class="clearfix" ng-repeat="credit in newLearningOppInstance.credits">
                        <div class="col-sm-2" ng-if="$index > 0"></div>
                        <div class="col-sm-1">
                            <input id="creditvalue" type="number" min="0" step="0.1" class="form-control" placeholder="0" ng-model="credit.value" required="required">
                        </div>
                        <div class="col-sm-3">
                            <input title="Scheme" id="scheme" type="text" class="form-control" placeholder="Scheme" ng-model="credit.scheme" required="required">
                        </div>
                        <div class="col-sm-2">
                            <select title="Select level" id="level" class="form-control" ng-model="credit.level" required="required">
                                <option style="display:none" value="">Select level</option>
                                <option ng-repeat="level in creditLevels" value="{{level}}">{{level}}</option>
                            </select>
                        </div>
                        <div class="col-sm-4"></div>
                    </div>
                    <div class="col-sm-2"></div>
                    <div class="col-sm-10">
                        <button type="button" class="btn btn-default" ng-click="addCredit()">
                            <i class="glyphicon glyphicon-plus-sign"></i>
                        </button>
                    </div>
                </div>
                <div class="input-group">
                    <div class="btn-group">
                        <button type="submit" class="btn btn-default">
                            <span class="glyphicon glyphicon-ok-circle"></span> Save
                        </button>
                        <button type="button" class="btn btn-default" ng-click="cancelAddLearningOppInstance()">
                            <span class="glyphicon glyphicon-remove-circle"></span> Cancel
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
