<div class="container">
    <h1 class="page-header">Person</h1>
    <div class="panel panel-default" ng-show="showAddPersonForm">
        <div class="panel-heading"><h2>Add Person</h2></div>
        <div class="panel-body">
            <form class="form-horizontal"  ng-submit="addPerson()">
                <div class="form-group">
                    <label class="control-label mandatory-control col-sm-2" for="pnr">Person Id</label>
                    <div class="col-sm-10">
                        <input id="pnr" type="text" class="form-control" placeholder="Enter person identifier" ng-model="newPerson.personId" required="required">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label mandatory-control col-sm-2" for="fname">First names</label>
                    <div class="col-sm-10">
                        <input id="fname" type="text" class="form-control" placeholder="Enter first names" ng-model="newPerson.firstNames" required="required">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label mandatory-control col-sm-2" for="lname">Last name</label>
                    <div class="col-sm-10">
                        <input id="lname" type="text" class="form-control" placeholder="Enter last name" ng-model="newPerson.lastName" required="required">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label mandatory-control col-sm-2" for="bday">Birth date</label>
                    <div class="col-sm-10">
                        <input id="bday" type="date" class="form-control" placeholder="Enter birth date" ng-model="newPerson.birthDate" required="required">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="gender">Gender</label>
                    <div class="col-sm-10">
                        <select id="gender" class="form-control" ng-model="newPerson.gender">
                            <option ng-repeat="gender in genders" value="{{gender}}">{{gender | enumToReadable}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="ccode">Country code</label>
                    <div class="col-sm-10">
                        <input id="ccode" type="text" class="form-control" placeholder="Enter country code" style="text-transform:uppercase" ng-model="newPerson.countryCode">
                    </div>
                </div>
                <div class="input-group">
                    <div class="btn-group">
                        <button type="submit" class="btn btn-default">
                            <span class="glyphicon glyphicon-ok-circle"></span> Save
                        </button>
                        <button type="button" class="btn btn-default" ng-click="cancelAddPerson()">
                            <span class="glyphicon glyphicon-remove-circle"></span> Cancel
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
        
    <div class="clearfix">
        <h2 class="pull-left">Persons</h2>
        <div class="btn-group pull-right" ng-show="!showAddPersonForm">
            <button type="submit" class="btn btn-default" ng-click="showAddForm()">
                <i class="glyphicon glyphicon-plus-sign"></i>
            </button>
        </div>
    </div>

    <div class="input-group">
        <input class="form-control" id="search" name="search" placeholder="Search for" ng-model="query"
               required="required"/>
          <span class="input-group-btn">
              <button type="submit" class="btn btn-default">
                  <i class="glyphicon glyphicon-search"></i>
              </button>
          </span>
    </div>
    <div class="list-group">
        <div ng-repeat="person in persons | filter:query | orderBy:['personId']:true">
            <a class="list-group-item clearfix" ng-click="isopen[person.personId] = !isopen[person.personId]">
                <div class="col-md-2 hide-overflow-ellipsis"><b>{{person.personId}}</b></div>
                <div class="col-md-9 hide-overflow-ellipsis"><b>{{person.firstNames}} {{person.lastName}}</b></div>
                <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': isopen[person.personId], 'glyphicon-chevron-right': !isopen[person.personId]}"></i>
            </a>
            <div class="list-group-item clearfix" ng-show="isopen[person.personId]">
                <div class="col-md-2">Person Id:</div><div class="col-md-10 hide-overflow-ellipsis">{{person.personId}}</div>
                <div class="col-md-2">First names:</div><div class="col-md-10 hide-overflow-ellipsis">{{person.firstNames}}</div>
                <div class="col-md-2">Last name:</div><div class="col-md-10 hide-overflow-ellipsis">{{person.lastName}}</div>
                <div class="col-md-2">Birth date:</div><div class="col-md-10 hide-overflow-ellipsis">{{person.birthDate | date: 'yyyy-MM-dd'}}</div>
                <div class="col-md-2">Gender:</div><div class="col-md-10 hide-overflow-ellipsis">{{person.gender | enumToReadable}}</div>
                <div ng-if="person.countryCode">
                    <div class="col-md-2">Country code:</div><div class="col-md-10 hide-overflow-ellipsis">{{person.countryCode}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
