<!DOCTYPE html>
<html lang="en" ng-app="connector">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="resources/vendor/css/lib.min.css">
    <link rel="stylesheet" href="resources/reference-connector.css">
    <title>EWP Connector</title>
</head>
<body>
    
    <nav class="navbar navbar-static-top" ng-controller="MenuController">
        <div class="navbar-default container-fluid">
            
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" ng-click="selectHomeItem()" href><i class="glyphicon glyphicon-home"></i> Home</a>
            </div>
            
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="menu-item dropdown" ng-repeat="item in rootMenu" ng-class="item.name === selectedRootItem.name ? 'active' : ''">
                        <a class="dropdown-toggle" data-toggle="dropdown" ng-click="selectRootItem(item)" href><i class="glyphicon glyphicon-home" ng-if="item.name === 'Home'"></i> {{item.name}}</a>
                        <ul class="dropdown-menu" ng-show="selectedRootItem.subItems.length > 0">
                            <li class="menu-item dropdown dropdown-submenu" ng-repeat="item in selectedRootItem.subItems" ng-class="item.name === selectedSubItem.name ? 'active' : ''"><a ng-click="selectSubItem(item)" href>{{item.name}}</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

<section ng-view="">
</section>

<script src="resources/vendor/js/lib.min.js"></script>
<script src="resources/reference-connector.js"></script>

</body>
</html>
